body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header,
section {
  margin-top: 2rem;
}

.form-inline label,
.form-inline input {
  margin-right: 1em;
}

.loading-text,
.error-text,
.search-results {
  margin-top: 1rem;
}

.demographics ul {
  list-style: none;
  padding: 0;
}

.patient-demographic-key {
  font-weight: bold;
}

.sortable {
  cursor: pointer;
}
